<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Everything">
                    <match url="^(.*)$" negate="false" />
                    <action type="Rewrite" url="/base/bootstrap.php?map={R:0}" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" pattern="(jpg|png|gif|ico|js|css|html|htm|jar|zip|rar|otf|php)" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
