.start-btn {
	width: 33%;
	padding: 30px 19px;
	box-sizing: border-box;
	background: #f6f6f6;
	border-radius: 0;
}
.start-btn:hover {
	background: #f1f1f1;
}

.header {
	background: #f1f1f1;
	background: url("/content/img/bg.png");
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

.title {
	margin: 10px 0;
	font-weight: bold;
	font-size: 40px;
	line-height: 70px;
	text-align: left;
	font-family: monospace;
	color: #69c;
	text-shadow: 0px 1px 3px #2a2a2a;
	word-spacing: -10px;
}
.title > a:hover {
	color: #aa0;
}
.title > a > span {
	letter-spacing: -7px;
}
.title > a > span:nth-child(1) {
	color: #FF0;
}
.title > a > span:nth-child(2) {
	color: #69c;
}
.title > a > span:nth-child(3) {
	color: #ADFF2F;
}

.sidenav > li > a {
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
	background-color: #69f;
}

.navbar-search .search-query {
	line-height: 16px;
}

.approved-th {
	width: 67px;
}

.input-prepend.approved-td {
	display: block;
}

.input-prepend.approved-td .add-on {
	border-radius: 0;
	margin: 0 auto;
	width: 16px;
	display: block;
}

.edit-group {
	position: absolute;
	margin-top: -40px;
	margin-left: 75px;
}